.form {
  background-color: #75afc4fd;
  display: grid;
  padding: 30px;
  margin: 40px;
  position: relative;
  top: 50px;
  width: 50%;
  margin-left: 20%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0 rgba(58, 160, 197, 0.5);
}

.form h1 {
  text-align: center;
  font-weight: bold;
  color: black;
}

.form label {
  text-align: center;
  margin: 2px;
  font-weight: bold;
}

.form input {
  border: 1px solid purple;
  border-radius: 12px;
  margin: 2px;
  height: 1.5rem;
  padding-left: 12px;
  font-size: medium;
  max-width: 50%;
  margin-left: 25%;
}

.form select {
  border: 1px solid purple;
  border-radius: 12px;
  margin: 2px;
  height: 1.5rem;
  padding-left: 12px;
  font-size: medium;
  max-width: 53%;
  margin-left: 25%;
}

.form button {
  width: 30%;
  margin: 10px;
  border: none;
  padding: 8px;
  position: relative;
  left: 35%;
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
}

.form button:hover {
  background-color: cornflowerblue;
}
