.form {
    background-color: rgb(242, 159, 6);
    display: grid;
    padding : 30px;
    margin : 40px;
    position: relative;
    top : 140px;
    width: 50%;
    margin-left: 20%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0 rgb(6, 242, 226);
}

.form h1 {
    text-align: center;
    font-weight: bold;
    color : black;
}

.form label {
    text-align: center;
    margin: 2px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form input {
    border : 1px solid purple;
    border-radius: 12px;
    margin: 2px;
    height: 1.5rem;
    padding-left: 12px ;
    font-size: medium;
    max-width: 50%;
    margin-left: 25%;
}

.form button {
    width: 20%;
    margin : 10px;
    border : none;
    padding : 8px;
    position: relative;
    left: 40%;
    border-radius: 10px;
    background-color: blueviolet;
    color : white;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
}

.form button:hover {
    background-color: honeydew;
    font-weight: 700;
    color : black;
}